video {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.link3dwalktroughexam{
    color:  rgb(201, 203, 159);
  font-family: "times new roman", times, serif;
  font-style: oblique;
  font-variant: normal;
  padding-left: 0rem;
  font-size: 30px;
  
}
